@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    width: 12px;
    height: 20px;
  }

  ::-webkit-scrollbar-track {
    background: #302e2e;
  }

  ::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 100vh;
  }
}
